<p><%= link_to 'Back to Company List',companies_path %></p>

		<h3><%= @company.name %></h3>
		<h5><%= @company.url %></h5>
		<h5><%= @company.category %></h5>
		<h5><%= "City: " + @company.get_city_name %></h5>
		<h5><%= "State/Prov: " + @company.get_stateprov_name %></h5>
		<h5><%= "Country: " + @company.get_country_name %></h5>
		<h5><%= @company.created_at %></h5>

